<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Account</h1>

      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Account</li>
      </ol>
    </div>
  </div>

  <div class="modal-parent"></div>

  <div class="row" ng-if="!loaded">
    <div class="col-lg-12">Loading...</div>
  </div>

  <div class="row" ng-if="loaded">
    <div class="col-lg-4">
      <h2>Profile</h2>

      <div class="panel panel-default">
        <div class="panel-body">
          <div ng-if="account.error" class="alert alert-danger">{{account.error}}</div>
          <div ng-if="account.success" class="alert alert-success">{{account.success}}</div>

          <form role="form" name="account.form">
            <div class="form-group" ng-class="{'has-error': account.form.email.error}">
              <label for="email" class="required">Email address</label>
              <input type="email" class="form-control" name="email" ng-model="account.data.email" required>
              <span class="help-block" ng-if="account.form.email.error">{{account.form.email.error}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': account.form.current_password.error}">
              <label for="current_password" class="required">Current password</label>
              <input type="password" class="form-control" name="current_password" ng-model="account.data.current_password">
              <span class="help-block" ng-if="account.form.current_password.error">{{account.form.current_password.error}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': account.form.new_password.error}">
              <label for="new_password" class="required">New password</label>
              <input type="password" class="form-control" name="new_password" ng-model="account.data.new_password">
              <span class="help-block" ng-if="account.form.new_password.error">{{account.form.new_password.error}}</span>
            </div>
            <button type="submit" class="btn btn-success" ng-click="account.submit()" ng-disabled="account.status === 'pending' || !account.form.$valid"><span class="glyphicon glyphicon-ok"></span> Save changes</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <h2>API keys</h2>

      <div ng-if="apikeys.error" class="alert alert-danger">{{apikeys.error}}</div>
      <div ng-if="apikeys.success" class="alert alert-success">{{apikeys.success}}</div>

      <button type="button" class="btn btn-success pull-right" ng-click="apikeys.create()" ng-disabled="apikeys.status === 'pending'"><span class="glyphicon glyphicon-plus"></span> Generate an API key</button>
      <div class="clearfix"></div>

      <div class="table-responsive">
        <table class="table table-hover table-striped" ng-table="apikeys.table" show-filter="false">
          <tbody>
            <tr ng-repeat="apikey in $data">
              <td title="'Key'" sortable="'key'">{{apikey.key}}</td>
              <td title="'Created at'" sortable="'created_at'">{{apikey.created_at}}</td>
              <td class="text-right"><button type="button" class="btn btn-danger" ng-click="apikeys.delete(apikey.key)"><span class="glyphicon glyphicon-trash"></span> Delete</button></td>
            </tr>
            <tr ng-if="!apikeys.table.data.length">
              <td colspan="3">No API key. Add one to see it here !</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
