<div class="container-fluid" ng-if="!loaded">
  Loading...
</div>

<div class="container-fluid" ng-if="loaded">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Account</h1>

      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Account</li>
      </ol>
    </div>
  </div>

  <div class="modal-parent"></div>

  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div ng-if="account.error" class="alert alert-danger">{{account.error}}</div>
          <div ng-if="account.success" class="alert alert-success">{{account.success}}</div>

          <form role="form" name="account.form">
            <div class="form-group" ng-class="{'has-error': account.form.email.error}">
              <label for="email" class="required">Email address</label>
              <input type="email" class="form-control" name="email" ng-model="account.data.email" required>
              <span class="help-block" ng-if="account.form.email.error">{{account.form.email.error}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': account.form.current_password.error}">
              <label for="current_password" class="required">Current password</label>
              <input type="password" class="form-control" name="current_password" ng-model="account.data.current_password">
              <span class="help-block" ng-if="account.form.current_password.error">{{account.form.current_password.error}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': account.form.new_password.error}">
              <label for="new_password" class="required">New password</label>
              <input type="password" class="form-control" name="new_password" ng-model="account.data.new_password">
              <span class="help-block" ng-if="account.form.new_password.error">{{account.form.new_password.error}}</span>
            </div>
            <button type="submit" class="btn btn-default" ng-click="account.submit()" ng-disabled="account.status === 'pending' || !account.form.$valid">Save changes</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">Need help ?</div>
        <div class="panel-body">
          <!-- TODO -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div ng-if="apikeys.error" class="alert alert-danger">{{apikeys.error}}</div>
      <div ng-if="apikeys.success" class="alert alert-success">{{apikeys.success}}</div>

      <button type="button" class="btn btn-success pull-right" ng-click="apikeys.create()">Generate an API key</button>
      <div class="clearfix"></div>

      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Key</th>
              <th>Created at</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="apikey in apikeys.data | orderBy: 'created_at'">
              <td>{{apikey.key}}</td>
              <td>{{apikey.created_at | date: 'medium'}}</td>
              <td class="text-right">
                <button type="button" class="btn btn-danger" ng-click="apikeys.delete(apikey.key)"><span class="glyphicon glyphicon-trash"></span></button>
              </td>
            </tr>
            <tr ng-if="!apikeys.data.length">
              <td colspan="3">No API key. Add one to see it here !</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
