<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><small class="glyphicon glyphicon-refresh pull-right"></small> Dashboard</h1>

      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </div>
  </div>

  <div class="modal-parent"></div>

  <div class="row">
    <div class="col-lg-12">
      <h2><small class="pull-right">Last refresh: {{nodes.lastrefresh | date: 'medium'}}</small> Nodes status</h2>
      <div class="alert alert-danger" ng-if="nodes.error">{{nodes.error}}</div>
    </div>
  </div>

  <div class="row" ng-if="!nodes.lastrefresh">
    <div class="col-lg-12">Loading...</div>
  </div>

  <div class="row" ng-if="nodes.lastrefresh">
    <div class="col-lg-2">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="huge text-right">{{nodes.data.unchanged}}</div>
        </div>
        <a href="#/nodes">
          <div class="panel-footer">
            <span class="pull-left">Unchanged</span>
            <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="huge text-right">{{nodes.data.changed}}</div>
        </div>
        <a href="#/nodes">
          <div class="panel-footer">
            <span class="pull-left">Changed</span>
            <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="huge text-right">{{nodes.data.failed}}</div>
        </div>
        <a href="#/nodes">
          <div class="panel-footer">
            <span class="pull-left">Failed</span>
            <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="huge text-right">{{nodes.data.unreported}}</div>
        </div>
        <a href="#/nodes">
          <div class="panel-footer">
            <span class="pull-left">Unreported</span>
            <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="panel panel-grey">
        <div class="panel-heading">
          <div class="huge text-right">{{nodes.data.unknown}}</div>
        </div>
        <a href="#/nodes">
          <div class="panel-footer">
            <span class="pull-left">Unknown</span>
            <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="huge text-right">{{nodes.total}}</div>
        </div>
        <a href="#/nodes">
          <div class="panel-footer">
            <span class="pull-left">Total</span>
            <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-lg-12">
      <uib-progress>
        <uib-bar type="success" value="nodes.data.unchanged/nodes.total*100">Unchanged</uib-bar>
        <uib-bar type="info" value="nodes.data.changed/nodes.total*100">Changed</uib-bar>
        <uib-bar type="danger" value="nodes.data.failed/nodes.total*100">Failed</uib-bar>
        <uib-bar type="warning" value="nodes.data.unreported/nodes.total*100">Unreported</uib-bar>
        <uib-bar type="gray" value="nodes.data.unknown/nodes.total*100">Unknown</uib-bar>
      </uib-progress>
    </div>
  </div>
</div>
