<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class="pull-right">
          <button type="button" class="btn btn-default" ng-click="user.edit()"><span class="glyphicon glyphicon-pencil"></span> Edit user</button>
          <button type="button" class="btn btn-danger" ng-click="user.delete()"><span class="glyphicon glyphicon-trash"></span> Delete user</button>
        </div>

        User <small>{{username}}</small>
      </h1>

      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/users">Users</a></li>
        <li class="active">{{username}}</li>
      </ol>
    </div>
  </div>

  <div class="modal-parent"></div>

  <div class="row" ng-if="!loaded">
    <div class="col-lg-12">Loading...</div>
  </div>

  <div class="row" ng-if="user.error">
    <div class="col-lg-12">
      <div class="alert alert-danger">{{user.error}}</div>
    </div>
  </div>

  <div class="row" ng-if="loaded && !user.error">
    <div class="col-lg-4">
      <h2>Summary</h2>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <span class="label label-success" ng-if="user.data.is_active">Enabled</span>
            <span class="label label-danger" ng-if="!user.data.is_active">Disabled</span>
          </div>

           Status
        </div>
        <div class="panel-body">
          <button type="button" class="btn btn-default" ng-click="user.password()"><span class="glyphicon glyphicon-lock"></span> Change password</button>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
          <p>
            <small><em>First name</em></small><br>
            <span>{{user.data.first_name}}</span>
            <span ng-if="!user.data.first_name">-</span>
          </p>
          <p>
            <small><em>Last name</em></small><br>
            <span>{{user.data.last_name}}</span>
            <span ng-if="!user.data.last_name">-</span>
          </p>
          <p>
            <small><em>Email</em></small><br>
            <span>{{user.data.email}}</span>
            <span ng-if="!user.data.email">-</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <h2>
        <button type="button" class="btn btn-success pull-right" ng-click="apikeys.create()" ng-disabled="apikeys.status === 'pending'"><span class="glyphicon glyphicon-plus"></span> Generate an API key</button>
        API keys
      </h2>

      <div ng-if="apikeys.error" class="alert alert-danger">{{apikeys.error}}</div>
      <div ng-if="apikeys.success" class="alert alert-success">{{apikeys.success}}</div>

      <div class="table-responsive">
        <table class="table table-hover table-striped" ng-table="apikeys.table" show-filter="false">
          <tbody>
            <tr ng-repeat="apikey in $data">
              <td title="'Key'" sortable="'key'">{{apikey.key}}</td>
              <td title="'Created at'" sortable="'created_at'">{{apikey.created_at | date: 'medium'}}</td>
              <td class="text-right"><button type="button" class="btn btn-danger" ng-click="apikeys.delete(apikey.key)"><span class="glyphicon glyphicon-trash"></span> Delete</button></td>
            </tr>
            <tr ng-if="!apikeys.table.data.length">
              <td colspan="3">No API key. Add one to see it here !</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
