<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <button type="button" class="btn btn-success pull-right" ng-click="classes.edit(undefined)"><span class="glyphicon glyphicon-plus"></span> Create a class</button>
        Classes
      </h1>

      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Classes</li>
      </ol>
    </div>
  </div>

  <div class="modal-parent"></div>

  <div class="row">
    <div class="col-lg-12">
      <div uib-alert class="alert-info">Classes with the <span class="label label-info">Default</span> flag are automatically added to all nodes</div>
    </div>
  </div>

  <div class="row" ng-if="!loaded">
    <div class="col-lg-12">Loading...</div>
  </div>

  <div class="row" ng-if="loaded">
    <div class="col-lg-12">
      <div uib-alert class="alert-danger" ng-if="classes.error">{{classes.error}}</div>

      <div class="clearfix"></div>

      <div class="table-responsive">
        <table class="table table-hover table-striped" ng-table="classes.table" show-filter="true">
          <tbody>
            <tr ng-repeat="class in $data">
              <td title="'Name'" sortable="'name'" filter="{name: 'text'}">
                {{class.name}}
                <span class="label label-info" ng-if="class.default">Default</span>
              </td>
              <td class="text-right">
                <button type="button" class="btn btn-default" ng-click="classes.edit(class)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                <button type="button" class="btn btn-danger" ng-click="classes.delete(class)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
              </td>
            </tr>
            <tr ng-if="!classes.table.data.length">
              <td colspan="2">No class. Add one to see it here !</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
