<form role="form" name="form">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Manage node</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div uib-alert class="alert-danger" ng-if="error">{{error}}</div>

    <div class="form-group" ng-class="{'has-error': form.name.error}">
      <label for="name" class="required">Hostname</label>
      <input type="text" class="form-control" placeholder="node.domain.tld" name="name" ng-model="node.name" required>
      <span class="help-block" ng-if="form.name.error">{{form.name.error}}</span>
    </div>

    <div class="form-group" ng-class="{'has-error': form.classes.error}">
      <label for="classes">Classes</label>
      <ui-select name="classes" ng-model="node.classes" close-on-select="false" multiple>
        <ui-select-match placeholder="Select classes...">{{$item}}</ui-select-match>
        <ui-select-choices repeat="class in classes | filter:$select.search | orderBy: 'toString()'">{{class}}</ui-select-choices>
      </ui-select>
      <span class="help-block" ng-if="form.classes.error">{{form.classes.error}}</span>
    </div>

    <div class="form-group" ng-class="{'has-error': form.groups.error}">
      <label for="groups">Groups</label>
      <ui-select name="groups" ng-model="node.groups" close-on-select="false" multiple>
        <ui-select-match placeholder="Select groups...">{{$item}}</ui-select-match>
        <ui-select-choices repeat="group in groups | filter:$select.search | orderBy: 'toString()'">{{group}}</ui-select-choices>
      </ui-select>
      <span class="help-block" ng-if="form.groups.error">{{form.groups.error}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit" ng-click="ok()" ng-disabled="status === 'pending' || !form.$valid">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
  </div>
</form>
