# This file is part of puppet-panel.
#
# puppet-panel is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# puppet-panel is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with puppet-panel.  If not, see <http://www.gnu.org/licenses/>.

from settings_default import *


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.8/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

ALLOWED_HOSTS = ['*']


# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}


# Puppet

PUPPET_ENCRYPTION_PUBKEY = 'puppetpanel-encryption.pub'

PUPPET_CA_CRT = 'ca.crt'

PUPPET_CLIENT_CRT = 'puppetpanel-client.crt'

PUPPET_CLIENT_KEY = 'puppetpanel-client.key'


# Puppet DB

PUPPETDB_HOST = 'db.puppet.domain.tld'

PUPPETDB_PORT = '8081'

PUPPETDB_SSL = True


# Puppet CA

PUPPETCA_HOST = 'ca.puppet.domain.tld'
